[submodule "share/spacemacs-lean-layer"]
	path = share/spacemacs-lean-layer
	url = https://github.com/robkorn/spacemacs-lean-layer.git
[submodule "layers/julia"]
	path = layers/julia
	url = git@github.com:0kaguya/julia-layer.git
